.nl-QRcontainer {
  background-color: rgba(138, 225, 234, 0.3);
  color: var(--nl-deep-blue);
}

.nl-preset-card {
  background-color: transparent !important;
  border: 2px solid rgba(9, 32, 121, 0.9) !important;
  border-radius: 20px !important;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 20px;
}

.nl-preset-card:hover {
  transform: translateY(-3px);
  background-color: rgba(9, 32, 121, 0.9) !important;
  box-shadow: 0 10px 30px rgba(12, 109, 255, 0.3) !important;
}

.nl-preset-card:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(12, 109, 255, 0.2) !important;
}

.nl-preset-card .preset-name {
  color: rgba(9, 32, 121, 0.9);
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}
.nl-preset-card .preset-desc {
  color: rgba(9, 32, 121, 0.9);
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.qr-svg-icon path {
  fill: rgba(9, 32, 121, 0.9);
  transition: fill 0.3s ease;
}

/* card on hover */
.nl-preset-card:hover {
  transform: translateY(-5px);
  background-color: rgba(9, 32, 121, 0.9) !important;
  box-shadow: 0 10px 30px rgba(9, 32, 121, 0.3) !important;
}

.nl-preset-card:hover .qr-svg-icon path {
  fill: white;
}

.nl-preset-card:hover .preset-name,
.nl-preset-card:hover .preset-desc {
  color: white;
}
